body {
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}

.web-name{
    font-family: 'Eagle Lake';
    text-transform: uppercase;
    font-size: 2rem;
    padding-left: 15px;
    color: white;
    padding-top: 5px;
}

nav.header{
    width: 100vw;
    height: 10vh;
    display: flex !important;
    justify-content: space-between !important;
    color: white;
}

/* .webName{
    
}

.options{

} */

.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.menu > a{
    color: white;
}

.menu > a:hover{
    background-color: white;
}

.name:hover{
    color: white;
    text-decoration: underline;
}

.name{
    color: slateblue;
}

.home-image{
    height: 80vh;
    width: 100vw;
    background-color: rgba(0, 0, 0);
}

button{
    outline: none;
    width: 150px;
}

.btn-text{
    font-size: 30px;
}

.image{
    background-image: url('Images/home-bg.jpg');
    width: inherit;
    height: inherit;
    background-size: 100vw 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

/* info.html */


.nav-topics{
    width: 100vw;
    padding-right: 45px;
    margin-bottom: 10px;
}

.nav-tabs{
    padding: 10px;
    padding-bottom: 0;
}

.nav-list{
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 40px;
    border-bottom: 1px solid grey;
}

section.active{
    display: block;
}

section.inactive{
    display: none;
}

.open-list{
    border: 1px solid grey;
    border-bottom: none !important;
}

/* .nav-list:hover .open-list{
    
} */

.nav-list:hover{
    border: 1px solid grey;
    border-bottom: none;
}

/* contact.html */
.form-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    box-shadow: 0 0 10px grey;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.form-group{
    margin-top: 5px;
    margin-bottom: unset;
}

input{
    width: 250px !important;
}

.button{
    width: inherit !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
}

#submit{
    width: 150px;
    height: 43px;
    padding-top: 0px;
    font-size: 25px;
}

#Name{
    position: relative;
    left: 50px;
}

#Email{
    position: relative;
    left: 84px;
}

#Message{
    position: relative;
    left: 60px;
}

#Phone{
    position: relative;
    left: 14px;
}

/* home.html */
/* .content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card > img {
    align-self: center;
    margin-top: 25px;
    margin-bottom: 15px;
} */
.topic{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem ;
    padding-top: 4rem;
}

.topic:nth-child(even){
    background-color: #f1f1f1;
}

.topic-title{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    text-align: center;
}

.topic-title > h5{
    font-size: 50px;
    font-family: 'Red Rose' ;
}

.topic-title > p{
    font-size: 25px;
    font-family: 'Red Rose';
}

.topic a{
    width: 15rem;
    align-self: center;
    color: white;
    background-color: #616161;
}

.topic a:hover{
    background-color: turquoise;
}