a:hover{
    text-decoration: none;
}

.web-name{
    font-family: 'Eagle Lake';
    text-transform: uppercase;
    font-size: 2rem;
    padding-left: 15px;
    color: white;
    padding-top: 5px;
}

nav.header{
    width: 100vw;
    height: 10vh;
    display: flex !important;
    justify-content: space-between !important;
    color: white;
}

/* .webName{
    
}

.options{

} */

.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.menu > a{
    color: white;
}

.menu > a:hover{
    background-color: white;
}

.name:hover{
    color: white;
    text-decoration: underline;
}

.name{
    color: slateblue;
}

.home-image{
    height: 80vh;
    width: 100vw;
    background-color: rgba(0, 0, 0);
}

button{
    outline: none;
    width: 150px;
}

.btn-text{
    font-size: 30px;
}

.image{
    background-image: url('Images/home-bg.jpg');
    width: inherit;
    height: inherit;
    background-size: 100vw 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

/* info.html */
.content-container{
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-topics{
    width: 100vw;
    margin-bottom: 10px;
}

.nav-tabs{
    padding: 10px;
    padding-bottom: 0;
}

.nav-list{
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 40px;
    border-bottom: 1px solid grey;
}

section.active{
    display: block;
}

section.inactive{
    display: none;
}

.open-list{
    border: 1px solid grey;
    border-bottom: none !important;
}

/* .nav-list:hover .open-list{
    
} */

.nav-list:hover{
    border: 1px solid grey;
    border-bottom: none;
}

/* contact.html */
.form-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}